<h1>Hypothesis Testing with Men's and Women's Soccer Matches</h1>

![A soccer pitch for an international match.](soccer-pitch.jpg)

You're working as a sports journalist at a major online sports media company, specializing in soccer analysis and reporting. You've been watching both men's and women's international soccer matches for a number of years, and your gut instinct tells you that more goals are scored in women's international football matches than men's. This would make an interesting investigative article that your subscribers are bound to love, but you'll need to perform a valid statistical hypothesis test to be sure!

While scoping this project, you acknowledge that the sport has changed a lot over the years, and performances likely vary a lot depending on the tournament, so you decide to limit the data used in the analysis to only official `FIFA World Cup` matches (not including qualifiers) since `2002-01-01`.

You create two datasets containing the results of every official men's and women's international football match since the 19th century, which you scraped from a reliable online source. This data is stored in two CSV files: `women_results.csv` and `men_results.csv`.

The question you are trying to determine the answer to is:

> Are more goals scored in women's international soccer matches than men's?

You assume a **10% significance level**, and use the following null and alternative hypotheses:

$H_0$ : The mean number of goals scored in women's international soccer matches is the same as men's.

$H_A$ : The mean number of goals scored in women's international soccer matches is greater than men's.

<h1>Project Instructions</h1>
Perform an appropriate hypothesis test to determine the p-value, and hence result, of whether to reject or fail to reject the null hypothesis that the mean number of goals scored in women's international soccer matches is the same as men's. <b>Use a 10% significance level</b>.

For this analysis, you'll use Official FIFA World Cup matches since 2002-01-01, and you'll also assume that each match is fully independent, i.e., team form is ignored.

The p-value and the result of the test must be stored in a dictionary called result_dict in the form:

result_dict = {"p_val": p_val, "result": result}

where p_val is the p-value and result is either the string "fail to reject" or "reject", depending on the result of the test.

<h1>Solution Code</h1>

<h3>Importing, and Filtering the Dataset</h3>

In [5]:
# Start your code here!
import pandas as pd

men = pd.read_csv('men_results.csv')
women = pd.read_csv('women_results.csv')

men_2002 = men[men['date'] >= '2002-01-01']
women_2002 = women[women['date'] >= '2002-01-01']

men_2002['total_score'] = men_2002['home_score'] + men_2002['away_score']
women_2002['total_score'] = women_2002['home_score'] + women_2002['away_score']

display(men_2002)
display(women_2002)

C:\Users\Carlos Miguel\AppData\Local\Temp\ipykernel_25260\1625732161.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men_2002['total_score'] = men_2002['home_score'] + men_2002['away_score']
C:\Users\Carlos Miguel\AppData\Local\Temp\ipykernel_25260\1625732161.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women_2002['total_score'] = women_2002['home_score'] + women_2002['away_score']

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament,total_score
24863,24863,2002-01-04,Bahrain,Finland,0,2,Prime Minister's Cup,2
24864,24864,2002-01-04,Egypt,Ghana,2,0,Friendly,2
24865,24865,2002-01-04,Martinique,Guadeloupe,1,3,Friendly,4
24866,24866,2002-01-05,Albania,North Macedonia,0,0,Prime Minister's Cup,0
24867,24867,2002-01-05,Kuwait,Zimbabwe,3,0,Friendly,3
...,...,...,...,...,...,...,...,...
44348,44348,2022-12-14,Thailand,Taiwan,0,1,Friendly,1
44349,44349,2022-12-14,Vietnam,Philippines,1,0,Friendly,1
44350,44350,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,3
44351,44351,2022-12-17,Singapore,Maldives,3,1,Friendly,4
44352,44352,2022-12-18,Argentina,France,3,3,FIFA World Cup,6

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament,total_score
1365,1365,2002-01-23,Norway,United States,1,0,Four Nations Tournament,1
1366,1366,2002-01-23,China PR,Germany,2,1,Four Nations Tournament,3
1367,1367,2002-01-25,Germany,United States,0,0,Four Nations Tournament,0
1368,1368,2002-01-25,China PR,Norway,0,3,Four Nations Tournament,3
1369,1369,2002-01-27,Germany,Norway,3,1,Four Nations Tournament,4
...,...,...,...,...,...,...,...,...
4879,4879,2022-07-22,Sweden,Belgium,1,0,UEFA Euro,1
4880,4880,2022-07-23,France,Netherlands,1,0,UEFA Euro,1
4881,4881,2022-07-26,England,Sweden,4,0,UEFA Euro,4
4882,4882,2022-07-27,Germany,France,2,1,UEFA Euro,3
4883,4883,2022-07-31,England,Germany,2,1,UEFA Euro,3

Guide to solve (According to me wehehehe):
- Filter data by date (since `2002-01-01`)
- Use Z-score (?) since you are using only one feature to compare
- Perform hypothesis testing
- Put results and interpret in a dataframe according to instructions

Taking sample statistic

In [6]:
men_2002_mean = men_2002['total_score'].mean()
women_2002_mean = women_2002['total_score'].mean()

2.7136993329912777
3.555271383915885